@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,200,700')
@import 'open-iconic.styl'

blue-color = #4BA1EE

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Open Sans', sans-serif
  color #333
  font-size 10px
  font-weight 300

body
  font-family 'Open Sans', sans-serif
  background-color #fbfbfb

.header
  background-color blue-color

.main-content
  max-width 1100px
  margin 80px auto

  h2 
    font-size 4em
    padding 40px 0


.collection-table
  border 1px solid #e0e0e0
  width 100%
  border-collapse collapse
  border-spacing 0
  th
    background #f7f7f7
    border-right 1px solid #e0e0e0
    font-size 1.4em
    font-weight 600
    padding 1.5em 1em
  tr
    border-bottom 1px solid #e0e0e0
  td
    padding .5em 1em
    font-size 1.4em
    text-align center


.nav, .user-settings
  text-align center
  display inline-block
  position relative

  li
    display inline-block
    font-size 14px

  a
    display inline-block
    padding 20px
    color #fff
    font-size 14px
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline


.user-settings
  float right

  #login-toggle
    background-color white
    padding 10px 20px
    border-radius 6px
    
    margin 10px
    cursor pointer
    border-bottom 4px solid darken(blue-color, 30%)
    span 
      color darken(blue-color, 10%)
      font-size 14px



.user-header
  width 100%
  height 200px
  position relative
  display flex
  flex-direction column
  justify-content center
  .user-info
    padding-left 250px
    color white
    position relative
    span
      display inline-block
      padding 10px
      background-color black
    .member-since
      font-size 10px
    .profile-image
      background-image url(/images/standard-profile-picture.jpg)
      position absolute
      width 200px
      height 200px
      left 50px
      top -30px
      border-radius 6px
      box-shadow rgba(0,0,0,0.4) 0 0 22px
      background-size cover



.cover-photo
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  background-size cover
  background-position center


.modal-box-wrapper
  
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display flex
  flex-flow row wrap
  align-content flex-end
  justify-content space-around
  background-color rgba(100,100,100,0.3)

  .modal-box-container
    overflow hidden
    width 400px
    height auto
    margin auto
    display block
    background-color white
    box-shadow rgba(0,0,0,0.4) 0px 20px 40px
    padding 40px 0
    position relative
    border-radius 6px

  .tabs
    position absolute
    bottom 0
    left 0
    text-align center
    width 100%
    li
      display inline-block
      padding 10px
      text-transform uppercase
      font-size 1.2em
      cursor pointer
      position relative
      color white

      &.selected
        &:before
          content ""
          position absolute
          bottom 0
          left 0
          width 100%
          height 4px
          background-color darken(blue-color, 30%)

  .modal-box-header
    background-color blue-color
    color white
    margin -40px -40px 40px
    padding 40px 80px
    position relative

  .close-button
    position absolute
    right 10px
    top 10px
    border 0
    background-color transparent
    cursor pointer
    span
      color white
      font-size 14px
      &:hover
        color rgb(200,200,200)

  .form-tab
    display none
    &.visible
      display block
      
  form
    label
      margin-right 10px
      &.hidden
        display none


    .form-row
      padding 4px 40px 4px 40px
      position relative

      .message
        font-size 10px
        padding 4px 10px 0 10px

      &.error
        background-color #E7CCCC
        &:after
          font-family 'Icons'
          speak none
          -webkit-font-smoothing antialiased
          position absolute
          top 12px
          right 12px
          color #b41212
          content '\e0db'
          .message
            color #b41212


      &.success
        background-color #cfe7cc
        &:after
          font-family 'Icons'
          speak none
          -webkit-font-smoothing antialiased
          position absolute
          top 12px
          right 12px
          color #12b416
          content '\e0db'
          .message
            color #12b415


      input
        padding 10px
        
        border 1px solid rgb(200,200,200)
        border-radius 4px
        font-size 14px
        position relative
        &.full
          width 100%  

      .login

        border 0
        width 100%
        cursor pointer
        outline none
        background blue-color
        border-bottom 4px solid darken(blue-color, 30%)
        border-radius .3em
        color white
        font-weight 600
        font-size 1.8em
        padding .8em

        &:hover {
          background lighten(blue-color, 10%)
        }

        &:disabled
          background-color #aaaaaa
          border-bottom 4px solid darken(#aaaaaa, 30%)

       




.pull-right
  text-align right


