/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 20, ../app/scss/screen.scss */
html,
body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 28, ../app/scss/screen.scss */
body {
  background-color: #E0E1E5;
  background-color: #181818;
  color: #a0a0a0;
  font-size: 12px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

/* line 37, ../app/scss/screen.scss */
.navbar {
  background-color: #23323b;
  background-color: #282828;
  margin-bottom: 0;
}

/* line 43, ../app/scss/screen.scss */
a {
  color: #fcfcfc;
  text-decoration: none;
}
/* line 46, ../app/scss/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 59, ../app/scss/screen.scss */
.close.inverse {
  color: #fff;
  opacity: 1;
}

/* line 64, ../app/scss/screen.scss */
.dropdown-menu {
  min-width: 200%;
}
/* line 66, ../app/scss/screen.scss */
.dropdown-menu li {
  cursor: pointer;
}
/* line 69, ../app/scss/screen.scss */
.dropdown-menu li:nth-child(odd) {
  background-color: #eaeaea;
}
/* line 72, ../app/scss/screen.scss */
.dropdown-menu li:hover {
  background-color: #337ab7;
  color: white;
}

/* line 78, ../app/scss/screen.scss */
.login-container {
  position: absolute;
  right: 0;
  width: 320px;
  background-color: #101010;
  padding: 20px;
  top: 50px;
  display: none;
}
/* line 86, ../app/scss/screen.scss */
.login-container.visible {
  display: block;
}

/* line 91, ../app/scss/screen.scss */
.dialog-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10000;
  align-items: center;
  justify-content: center;
}
/* line 101, ../app/scss/screen.scss */
.dialog-wrapper.login-wrapper {
  display: block;
  text-align: right;
}
/* line 105, ../app/scss/screen.scss */
.dialog-wrapper.login-wrapper .dialog-container {
  display: inline-block;
  margin-top: 50px;
  border-radius: 0;
  max-width: 320px;
}
/* line 112, ../app/scss/screen.scss */
.dialog-wrapper .dialog-container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 115, ../app/scss/screen.scss */
.dialog-wrapper .cloak {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top: 50px solid transparent;
}
/* line 122, ../app/scss/screen.scss */
.dialog-wrapper .cloak:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 132, ../app/scss/screen.scss */
.dialog-wrapper label {
  color: #798790;
}
/* line 135, ../app/scss/screen.scss */
.dialog-wrapper .game-title {
  color: white;
}
/* line 138, ../app/scss/screen.scss */
.dialog-wrapper .form-group {
  color: #798790;
}
/* line 141, ../app/scss/screen.scss */
.dialog-wrapper .dialog-tabs {
  display: flex;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
}
/* line 143, ../app/scss/screen.scss */
.dialog-wrapper .dialog-tabs li {
  display: block;
  background-color: #435359;
  color: #798790;
  width: 100%;
}
/* line 148, ../app/scss/screen.scss */
.dialog-wrapper .dialog-tabs li.active {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}
/* line 159, ../app/scss/screen.scss */
.dialog-wrapper .input-group {
  width: 100%;
}
/* line 161, ../app/scss/screen.scss */
.dialog-wrapper .input-group span {
  color: #798790;
}
/* line 165, ../app/scss/screen.scss */
.dialog-wrapper .form-control {
  border: 1px solid #798790;
  color: #798790;
  background-color: transparent;
}
/* line 172, ../app/scss/screen.scss */
.dialog-wrapper .form-control-feedback.glyphicon-remove {
  color: red;
}
/* line 175, ../app/scss/screen.scss */
.dialog-wrapper .form-control-feedback.glyphicon-ok {
  color: green;
}
/* line 179, ../app/scss/screen.scss */
.dialog-wrapper .dialog-container {
  max-width: 100%;
  width: 600px;
  position: relative;
  background-color: #23323b;
  padding: 20px;
}
/* line 186, ../app/scss/screen.scss */
.dialog-wrapper .btn {
  text-transform: uppercase;
}

/* line 191, ../app/scss/screen.scss */
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px 29px 20px 29px;
  border-radius: 50%;
  background-color: #2b7ec6;
  color: white;
  border: 0;
  font-size: 28px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
/* line 203, ../app/scss/screen.scss */
.add-button:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
}
/* line 206, ../app/scss/screen.scss */
.add-button:active {
  background-color: #194972;
}

/* line 211, ../app/scss/screen.scss */
.game-list.table {
  margin-bottom: 0;
  font-size: 11px;
}
/* line 215, ../app/scss/screen.scss */
.game-list.table tr {
  background-color: transparent;
}
/* line 218, ../app/scss/screen.scss */
.game-list.table tr.game-row.toggled {
  background-color: transparent;
}
/* line 221, ../app/scss/screen.scss */
.game-list.table tr.game-row.selected {
  background-color: rgba(70, 124, 198, 0.1);
}
/* line 225, ../app/scss/screen.scss */
.game-list.table tr:hover {
  background-color: rgba(40, 40, 40, 0.5);
}
/* line 228, ../app/scss/screen.scss */
.game-list.table tr td, .game-list.table tr th {
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
}
/* line 232, ../app/scss/screen.scss */
.game-list.table tr td.editable-col, .game-list.table tr th.editable-col {
  padding: 6px;
  outline: none;
  cursor: pointer;
}
/* line 237, ../app/scss/screen.scss */
.game-list.table tr td.editable-col.selected:before, .game-list.table tr th.editable-col.selected:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #376cb3;
  content: "";
  pointer-events: none;
}
/* line 250, ../app/scss/screen.scss */
.game-list.table tr .context-menu-container {
  font-weight: bold;
  padding: 4px;
}
/* line 256, ../app/scss/screen.scss */
.game-list.table tr td:nth-child(1n+3):hover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(55, 108, 179, 0.5);
  content: "";
  pointer-events: none;
}
/* line 268, ../app/scss/screen.scss */
.game-list.table tr td {
  padding: 0;
  color: #fcfcfc;
  position: relative;
  height: 26px;
}
@media only screen and (max-width: 800px) {
  /* line 275, ../app/scss/screen.scss */
  .game-list.table tr td:nth-child(1n+4) {
    display: none;
  }
}
/* line 284, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls {
  padding: 0;
}
/* line 286, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls .game-toggle-label {
  width: 100%;
  padding: 4px 0;
  margin: 0;
  text-align: center;
}
/* line 291, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls .game-toggle-label input {
  margin: 0;
}
/* line 295, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls .glyphicon {
  cursor: pointer;
}
/* line 297, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls .glyphicon:hover {
  color: #467cc6;
}
/* line 299, ../app/scss/screen.scss */
.game-list.table tr td.game-list-controls .glyphicon:hover .description {
  display: inline-block;
}
/* line 307, ../app/scss/screen.scss */
.game-list.table tr th {
  border-bottom: 1px solid #282828;
  cursor: pointer;
  height: 26px;
}
/* line 311, ../app/scss/screen.scss */
.game-list.table tr th:nth-child(even), .game-list.table tr th:nth-child(odd) {
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  color: #a0a0a0;
}
/* line 317, ../app/scss/screen.scss */
.game-list.table tr th:nth-child(even):hover, .game-list.table tr th:nth-child(odd):hover {
  color: #fcfcfc;
}
@media only screen and (max-width: 800px) {
  /* line 322, ../app/scss/screen.scss */
  .game-list.table tr th:nth-child(1n+4) {
    display: none;
  }
}
/* line 326, ../app/scss/screen.scss */
.game-list.table tr th.game-list-controls {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2N2NjNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3NmNiMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #467cc6), color-stop(100%, #376cb3));
  background-image: -moz-linear-gradient(#467cc6, #376cb3);
  background-image: -webkit-linear-gradient(#467cc6, #376cb3);
  background-image: linear-gradient(#467cc6, #376cb3);
  color: white;
  border-top: 0;
}
/* line 333, ../app/scss/screen.scss */
.game-list.table tr td:last-child,
.game-list.table tr th:last-child {
  border-right: 0;
}

/* line 342, ../app/scss/screen.scss */
.navbar-static-top {
  z-index: 100;
}

/* line 346, ../app/scss/screen.scss */
.context-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: 0;
  outline: none;
  color: #376cb3;
  background-color: transparent;
}
/* line 355, ../app/scss/screen.scss */
.context-menu.selected {
  background-color: #376cb3;
  color: white;
}

/* line 361, ../app/scss/screen.scss */
.context-menu-list {
  position: absolute;
  left: 0px;
  bottom: 15px;
  padding: 0;
  min-width: 200px;
  text-align: left;
  letter-spacing: 0px;
  display: block;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  z-index: 10;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
/* line 375, ../app/scss/screen.scss */
.context-menu-list li {
  display: block;
  padding: 4px;
  font-weight: normal;
  border-bottom: 1px solid black;
  font-weight: normal;
  cursor: pointer;
  background-color: #376cb3;
}
/* line 383, ../app/scss/screen.scss */
.context-menu-list li:hover {
  background-color: #3f78c4;
}
/* line 386, ../app/scss/screen.scss */
.context-menu-list li:last-child {
  border-bottom: 0;
}

/* line 392, ../app/scss/screen.scss */
.filter-row {
  border-top: 1px solid #282828;
  position: relative;
  margin-top: 14px;
  padding: 0;
}
/* line 396, ../app/scss/screen.scss */
.filter-row .form-control:focus {
  color: #fcfcfc;
  box-shadow: none;
}
/* line 400, ../app/scss/screen.scss */
.filter-row .input-group-addon {
  background-color: transparent;
  border: 0;
  padding: 0 14px 0 0;
}
/* line 406, ../app/scss/screen.scss */
.filter-row .form-group {
  padding: 14px 14px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  /* line 406, ../app/scss/screen.scss */
  .filter-row .form-group {
    padding: 6px 6px;
  }
}
/* line 414, ../app/scss/screen.scss */
.filter-row form {
  padding: 0;
  margin: 0;
}
/* line 417, ../app/scss/screen.scss */
.filter-row form input {
  background-color: transparent;
  color: #a0a0a0;
  border: 0;
  outline: none;
  padding: 0;
  box-shadow: 0;
  display: block;
}

/* line 430, ../app/scss/screen.scss */
.collection-header {
  margin: -14px -14px 14px -14px;
  position: relative;
  overflow: hidden;
  padding: 14px;
  display: flex;
}
@media only screen and (max-width: 800px) {
  /* line 430, ../app/scss/screen.scss */
  .collection-header {
    display: block;
    text-align: center;
  }
}
/* line 441, ../app/scss/screen.scss */
.collection-header .control-buttons {
  position: absolute;
  right: 14px;
  top: 14px;
}
/* line 447, ../app/scss/screen.scss */
.collection-header .collection-photo-cloak {
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: black;
  filter: blur(40px);
  left: -25%;
  top: -25%;
  opacity: 0.2;
}
/* line 457, ../app/scss/screen.scss */
.collection-header .collection-photo,
.collection-header .profile-photo {
  background-color: #282828;
  background-image: url(../images/default-collection.jpg);
  background-size: cover;
  position: relative;
  width: 210px;
  height: 210px;
  display: block;
  margin-right: 14px;
}
@media only screen and (max-width: 800px) {
  /* line 457, ../app/scss/screen.scss */
  .collection-header .collection-photo,
  .collection-header .profile-photo {
    display: inline-block;
  }
}
/* line 472, ../app/scss/screen.scss */
.collection-header .profile-photo {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
/* line 482, ../app/scss/screen.scss */
.collection-header .collection-title {
  position: relative;
  color: white;
  outline: none;
}
/* line 486, ../app/scss/screen.scss */
.collection-header .collection-title .kicker {
  text-transform: uppercase;
  margin-bottom: 0;
  color: #a0a0a0;
}
/* line 491, ../app/scss/screen.scss */
.collection-header .collection-title .byline {
  color: #a0a0a0;
  font-size: 14px;
}
/* line 495, ../app/scss/screen.scss */
.collection-header .collection-title .description {
  font-size: 14px;
  color: #a0a0a0;
}
/* line 499, ../app/scss/screen.scss */
.collection-header .collection-title h1 {
  display: inline-block;
  outline: none;
  margin: 0;
  padding: 14px 0 14px;
  font-size: 38px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 800px) {
  /* line 499, ../app/scss/screen.scss */
  .collection-header .collection-title h1 {
    font-size: 22px;
    font-weight: bold;
  }
}
/* line 511, ../app/scss/screen.scss */
.collection-header .collection-title .glyphicon {
  position: absolute;
  top: 4px;
  margin-left: -5px;
  font-size: 15px;
}
/* line 518, ../app/scss/screen.scss */
.collection-header .collection-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media only screen and (min-width: 800px) {
  /* line 529, ../app/scss/screen.scss */
  .visible .collection-container {
    border-left: 200px solid transparent;
  }
}
@media only screen and (min-width: 800px) {
  /* line 534, ../app/scss/screen.scss */
  .visible .user-bar {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    overflow: auto;
  }
}

/* line 543, ../app/scss/screen.scss */
::-webkit-scrollbar {
  width: 12px;
  background: white;
  background: linear-gradient(0deg, #181818, #000000);
}

/* line 549, ../app/scss/screen.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* line 554, ../app/scss/screen.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(0deg, #467cc6, #6d98d2, #467cc6);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 560, ../app/scss/screen.scss */
.collection-container {
  border-left: 0 solid transparent;
  border-top: 50px solid transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 14px;
  padding-bottom: 80px;
}

/* line 574, ../app/scss/screen.scss */
.btn {
  border-radius: 20px;
}

/* line 578, ../app/scss/screen.scss */
.auth {
  padding-right: 15px;
  text-align: right;
}
/* line 581, ../app/scss/screen.scss */
.auth .profile-image {
  background-size: cover;
  background-image: url("userImages/57da923427b493018b00a314.jpg");
  padding: 17px 17px 16px 16px;
  background-color: #a0a0a0;
  /* width: 20px; */
  /* height: 20px; */
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  /* border: 1px solid white; */
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
  float: right;
}
/* line 597, ../app/scss/screen.scss */
.auth .btn {
  margin-top: 6px;
  margin-bottom: 6px;
  color: white;
  background-color: #467cc6;
  border: 2px solid #467cc6;
  border-radius: 20px;
  padding: 8px 20px;
  outline: none;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 608, ../app/scss/screen.scss */
.auth .btn.signup {
  background-color: #3fb9e7;
  border: 2px solid #3fb9e7;
}
/* line 612, ../app/scss/screen.scss */
.auth .btn:hover {
  border: 2px solid white;
  background: transparent;
}
/* line 616, ../app/scss/screen.scss */
.auth .btn.logout {
  border-radius: 50%;
  padding: 4px 6px;
}

/* line 625, ../app/scss/screen.scss */
.user-bar {
  position: fixed;
  border-top: 50px solid transparent;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f9f9f9;
  background-color: #282828;
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
/* line 636, ../app/scss/screen.scss */
.user-bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 646, ../app/scss/screen.scss */
.user-bar .user-header {
  width: 100%;
  position: relative;
  height: 174px;
  background-color: black;
  overflow: hidden;
}
/* line 652, ../app/scss/screen.scss */
.user-bar .user-header .collection-user-profile-cover {
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-image: cover;
  opacity: 0.6;
}
/* line 662, ../app/scss/screen.scss */
.user-bar .user-header .collection-user-profile-avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 20px;
  background-size: cover;
}
/* line 672, ../app/scss/screen.scss */
.user-bar .user-header .user-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 17px 8px 8px 8px;
  text-align: center;
  color: #d2d3d4;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
/* line 685, ../app/scss/screen.scss */
.user-bar .user-header .user-name:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3NmNiMyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDY3Y2M2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzc2Y2IzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #376cb3), color-stop(50%, #467cc6), color-stop(100%, #376cb3));
  background-image: -moz-linear-gradient(left, #376cb3, #467cc6, #376cb3);
  background-image: -webkit-linear-gradient(left, #376cb3, #467cc6, #376cb3);
  background-image: linear-gradient(to right, #376cb3, #467cc6, #376cb3);
}

/* line 699, ../app/scss/screen.scss */
#spilldb-logo {
  margin-left: 0;
}

/* line 703, ../app/scss/screen.scss */
.navbar-brand {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2N2NjNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3NmNiMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #467cc6), color-stop(100%, #376cb3));
  background-image: -moz-linear-gradient(#467cc6, #376cb3);
  background-image: -webkit-linear-gradient(#467cc6, #376cb3);
  background-image: linear-gradient(#467cc6, #376cb3);
}
/* line 706, ../app/scss/screen.scss */
.navbar-brand .spilldb-logo {
  position: relative;
  width: 90px;
  height: 24px;
  background-image: url("../images/samledb-hvit.svg");
  background-size: 100% auto;
}

/* line 715, ../app/scss/screen.scss */
.bottom-navbar {
  padding: 0;
  background-color: #f9f9f9;
  background-color: #282828;
  border: 0;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  border-left: 200px solid transparent;
  min-height: 40px;
}
/* line 728, ../app/scss/screen.scss */
.bottom-navbar .container-fluid {
  padding: 0;
}
/* line 730, ../app/scss/screen.scss */
.bottom-navbar .container-fluid .btn {
  padding: 4px 11px;
  font-size: 10px;
  border-radius: 8px;
  margin-left: 10px;
}
/* line 738, ../app/scss/screen.scss */
.bottom-navbar .navbar-form {
  padding: 3px 10px;
  margin: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 745, ../app/scss/screen.scss */
.bottom-navbar .dropdown-toggle {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 751, ../app/scss/screen.scss */
.bottom-navbar .navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 755, ../app/scss/screen.scss */
.bottom-navbar .dropdown-menu {
  top: auto;
  bottom: 100%;
  padding: 0;
  border-radius: 0;
}
/* line 760, ../app/scss/screen.scss */
.bottom-navbar .dropdown-menu li {
  padding: 10px;
  color: black;
}
/* line 763, ../app/scss/screen.scss */
.bottom-navbar .dropdown-menu li:hover {
  color: white;
}

/* line 770, ../app/scss/screen.scss */
.collection-list-header {
  margin-top: 10px;
  color: #a0a0a0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

/* line 778, ../app/scss/screen.scss */
.create-new-button {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  padding: 6px 6px 3px 6px;
  border-radius: 50%;
  float: right;
  margin-top: -5px;
  outline: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 787, ../app/scss/screen.scss */
.create-new-button .glyphicon {
  top: 0;
}
/* line 790, ../app/scss/screen.scss */
.create-new-button:hover {
  border: 1px solid #467cc6;
  background-color: #467cc6;
  color: white;
}

/* line 797, ../app/scss/screen.scss */
.collection-list {
  border-radius: 0;
}
/* line 800, ../app/scss/screen.scss */
.collection-list .list-group-item {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
  color: #a0a0a0;
  font-size: 14px;
  border: 0;
  padding: 0;
  cursor: pointer;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  background-color: transparent;
}
/* line 813, ../app/scss/screen.scss */
.collection-list .list-group-item a {
  display: block;
  padding: 8px 4px 8px 15px;
  padding-left: 30px;
  color: #a0a0a0;
  letter-spacing: 0.2px;
  text-decoration: none;
}
/* line 820, ../app/scss/screen.scss */
.collection-list .list-group-item a:hover {
  color: #fcfcfc;
  text-decoration: none;
}
/* line 826, ../app/scss/screen.scss */
.collection-list .list-group-item:hover {
  background-color: #0f0f0f;
}
/* line 829, ../app/scss/screen.scss */
.collection-list .list-group-item.selected {
  background-color: #181818;
  -moz-box-shadow: 0 0 0 black inset;
  -webkit-box-shadow: 0 0 0 black inset;
  box-shadow: 0 0 0 black inset;
}
/* line 832, ../app/scss/screen.scss */
.collection-list .list-group-item.selected:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  left: 0;
  background-color: #467cc6;
  top: 0;
}
/* line 841, ../app/scss/screen.scss */
.collection-list .list-group-item.selected a {
  text-decoration: none;
}
/* line 845, ../app/scss/screen.scss */
.collection-list .list-group-item .glyphicon {
  padding-right: 8px;
}

/* line 852, ../app/scss/screen.scss */
.main-menu li {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  text-transform: uppercase;
}
/* line 856, ../app/scss/screen.scss */
.main-menu li a {
  cursor: pointer;
}
/* line 859, ../app/scss/screen.scss */
.main-menu li:hover {
  background-color: #10171b;
}

/* line 867, ../app/scss/screen.scss */
.signup-form {
  position: relative;
  max-width: 400px;
  padding: 60px 48px;
  background-color: white;
  margin: 50px auto 0 auto;
  color: #3a3a3a;
}
/* line 874, ../app/scss/screen.scss */
.signup-form h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 880, ../app/scss/screen.scss */
.btn {
  font-size: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 20px;
}

/* line 889, ../app/scss/screen.scss */
.image-row * {
  vertical-align: top;
}
/* line 892, ../app/scss/screen.scss */
.image-row .dropzone {
  display: inline-block;
  width: 20%;
  height: 172px;
  text-align: center;
  padding: 20px;
  font-family: Arial;
}
/* line 899, ../app/scss/screen.scss */
.image-row .dropzone.profile-image {
  width: 210px;
  height: 210px;
}
/* line 904, ../app/scss/screen.scss */
.image-row .image-container {
  display: inline-block;
  width: 20%;
  height: 172px;
  background-size: cover;
}
/* line 909, ../app/scss/screen.scss */
.image-row .image-container.profile-image {
  width: 210px;
  height: 210px;
}

/* line 917, ../app/scss/screen.scss */
.collection-edit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px;
  width: 100%;
  background-color: #a0a0a0;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 10000;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 929, ../app/scss/screen.scss */
.collection-edit.visible {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* line 933, ../app/scss/screen.scss */
.collection-edit label {
  color: #3a3a3a;
}
/* line 936, ../app/scss/screen.scss */
.collection-edit form {
  margin-top: 14px;
}

/* line 942, ../app/scss/screen.scss */
.dropzone {
  position: relative;
  border: 0;
  padding: 30px;
}
/* line 946, ../app/scss/screen.scss */
.dropzone:after {
  content: "";
  position: absolute;
  border: 2px dashed #3a3a3a;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
/* line 955, ../app/scss/screen.scss */
.dropzone span {
  color: #3a3a3a;
}

/* line 963, ../app/scss/screen.scss */
.edit-button {
  position: relative;
  z-index: 10;
}

/* line 968, ../app/scss/screen.scss */
.game-list.table tr td[contenteditable="true"]:active,
.game-list.table tr td[contenteditable="true"]:focus {
  outline: none;
  color: #66d1f2;
}

/* line 974, ../app/scss/screen.scss */
.btn {
  outline: none;
}

/* line 978, ../app/scss/screen.scss */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 985, ../app/scss/screen.scss */
.user-tab {
  display: none;
  margin-top: 28px;
}
/* line 988, ../app/scss/screen.scss */
.user-tab.selected {
  display: block;
}

/* line 993, ../app/scss/screen.scss */
.user-menu {
  border-bottom: 1px solid #282828;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 998, ../app/scss/screen.scss */
.user-menu li {
  display: inline-block;
  position: relative;
  color: #a0a0a0;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 11px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
/* line 1008, ../app/scss/screen.scss */
.user-menu li a {
  padding: 10px 14px;
  display: block;
}
/* line 1012, ../app/scss/screen.scss */
.user-menu li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  background-color: transparent;
  left: 0;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 1022, ../app/scss/screen.scss */
.user-menu li.selected {
  color: #fcfcfc;
}
/* line 1024, ../app/scss/screen.scss */
.user-menu li.selected:after {
  background-color: #66d1f2;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 1030, ../app/scss/screen.scss */
.user-menu li:hover {
  color: #fcfcfc;
}

/* line 1037, ../app/scss/screen.scss */
.auth-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/static/images/zelda-collection-background.jpg);
  background-size: cover;
  opacity: 0.2;
}

/* line 1048, ../app/scss/screen.scss */
.hamburger {
  float: left;
  position: relative;
  width: 40px;
  height: 50px;
  background-color: transparent;
  border: 0;
  outline: none;
}
/* line 1057, ../app/scss/screen.scss */
.hamburger:hover .line-1,
.hamburger:hover .line-2,
.hamburger:hover .line-3 {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 1063, ../app/scss/screen.scss */
.hamburger .line-1,
.hamburger .line-2,
.hamburger .line-3 {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -1px;
  height: 2px;
  background-color: #467cc6;
  width: 24px;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
/* line 1076, ../app/scss/screen.scss */
.hamburger .line-2 {
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
/* line 1079, ../app/scss/screen.scss */
.hamburger .line-3 {
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}
/* line 1086, ../app/scss/screen.scss */
.hamburger.selected {
  background-color: #181818;
}
/* line 1088, ../app/scss/screen.scss */
.hamburger.selected .line-1,
.hamburger.selected .line-2,
.hamburger.selected .line-3 {
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  width: 16px;
  left: 12px;
  color: #467cc6;
}
/* line 1096, ../app/scss/screen.scss */
.hamburger.selected .line-1 {
  opacity: 0;
}
/* line 1099, ../app/scss/screen.scss */
.hamburger.selected .line-2 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 1102, ../app/scss/screen.scss */
.hamburger.selected .line-3 {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  /* line 1108, ../app/scss/screen.scss */
  .navbar-text {
    margin-right: 10px;
    display: inline-block;
  }
  /* line 1112, ../app/scss/screen.scss */
  .navbar-text span {
    display: none;
  }
}
