<div ng-show="addGameData.game" class="dialog-wrapper">
    <div class="cloak"></div>
    <div class="dialog-container">
        <label>Legger til</label>
        <button type="button" class="close inverse pull-right" aria-label="Close" ng-click="closeAddGameDialog()"><span aria-hidden="true" ng-click="closeAddGameDialog()">&times;</span></button>

        <form ng-submit="submitAddGameForm()">
<p class="game-title">
            <span>{{addGameData.game.title}}</span>
            <span ng-if="gameFilters.filterRegion || gameFilters.filterCondition">(</span>
            <span ng-if="gameFilters.filterRegion">{{gameFilters.filterRegion}}</span>
            <span ng-if="gameFilters.filterRegion && gameFilters.filterCondition"> - </span>
            <span ng-if="gameFilters.filterRegion">{{gameFilters.filterCondition}}</span>
            <span ng-if="gameFilters.filterRegion || gameFilters.filterCondition">)</span>
        </p>
        
            <div>
                <p>
                    <button class="btn btn-link btn-sm" ng-if="!addGameData.showAdvanced" ng-click="toggleAdvancedAddGameSettings(true)">Vis avanserte valg <span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-link btn-sm" ng-if="addGameData.showAdvanced" ng-click="toggleAdvancedAddGameSettings(false)">Skjul avanserte valg <span class="glyphicon glyphicon-minus"></span></button>
                </p>
            </div>
            <div class="row" ng-show="addGameData.showAdvanced">

                <div class="form-group col-md-6">
                    <label for="username-login">Spillets region</label>

                    <div class="input-group">
                        <label>
                            <input type="radio" name="filter-region" ng-model="gameFilters.filterRegion" ng-value="">
                            <span>&nbsp; Kjenner ikke region</span>
                        </label>
                    </div>
                    <div class="input-group" ng-repeat="region in addGameData.regions | orderBy: '-region_name'">
                        <label>
                            <input type="radio" name="filter-region" ng-model="gameFilters.filterRegion" ng-value="region">
                            <span>&nbsp; {{region.region_name}} ({{region.game_title}})</span>
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    
                    <label for="username-login">Spillets tilstand</label>

                    <div class="input-group">
                        <label>
                            <input type="radio" name="filter-condition" ng-model="gameFilters.filterCondition" ng-value="">
                            <span>&nbsp; Annet</span>
                        </label>
                    </div>

                    <div class="input-group" ng-repeat="condition in conditions | orderBy: '-name'">
                        <label>
                            <input type="radio" name="filter-condition" ng-model="gameFilters.filterCondition" ng-value="condition">
                            <span>&nbsp; <strong>{{condition.state}}</strong> ({{condition.description}})</span>
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="addGameToCollection()">Legg til i samling</button>
        </form>
     </div>
 </div>  