<div ng-if="loggedIn" class="user-profile" ng-click="toggleExpanded()" ng-class="{
    'expanded': expanded
}">
    <div class="profile-info">

            <div class="profile-image" ng-style="{'background-image': 'url(static/userImages/' + user.profileImageId + '.jpg)'}" ng-class="{'no-photo': !user.profileImageId || user.profileImageId == ''}"></div>

            <p class="navbar-text">
                <a ng-href="/user/{{user.slug}}">{{user.nick}}</a>
            </p>
    </div>
    <ul class="attribute-list">
        <li>
            <a ng-href="/user/{{user.slug}}">Min profilside</a>
        </li>
        <li>
            <a ng-href="/logout">Innstillinger</a>
        </li>
        <li>
            <a ng-href="/logout">Logg ut</a>
        </li>
    </ul>

</div>