<div>
    <div class="auth-cover">
        <div class="form-full container front-container">
            <div class="signup-form front">
                <h3 class="form-description">
                    flushing games: {{responses.games.length}}
                </h3>
                <h3 class="form-description">
                    flushing consoles: {{responses.consoles.length}}
                </h3>
                <h3 class="form-description">
                    flushing publishers: {{responses.publishers.length}}
                </h3>

                <h3 class="form-description">
                    flushing settings: {{responses.settings.length}}
                </h3>
            </div>
        </div>
    </div>

</div>