<div class="auth-cover">
    <div class="form-full container front-container">
        <div class="bottom-image">
            <img src="/static/images/carts-front.png">
        </div>
        <div class="signup-form">
            <h2 class="form-header">Logg inn</h2>
            <div class="form-inner-wrapper">
                <form ng-submit="submitLoginForm()">
                    <div class="form-group">
                        <label for="username-login">E-postadresse</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input ng-model="loginUsername" class="form-control" id="username-login" type="text" placeholder="E-postadresse">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-login">Passord</label>
                        <input ng-model="loginPassword" class="form-control" id="password-login" type="password" placeholder="Passord">
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="loginError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        E-posten eller brukernavnet stemmer ikke. Vennligst prøv igjen eller tilbakestill passordet.
                    </div>
                    <div ng-if="statusMessage" class="alert alert-danger" role="alert">{{statusMessage}}</div>
                    <div class="form-controls">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Logg inn</button>
                    </div>
                    <div class="reset-password">
                        <a ng-href="/reset">Glemt passord?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>