<div class="auth-cover"></div>
<div class="form-full container">
    <div class="signup-form">
        <h2>Tilbakestill</h2>
        <form>
            <div class="form-group send-new-password-container">
                <label for="password-login">Din brukers e-postadresse</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input ng-model="toggles.email" class="form-control" id="username-login" type="text" placeholder="E-postadresse">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="toggles.emailVerified == 1"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="toggles.emailVerified == 2"></span>
                </div>
                <button class="input-attached-submit-button">Få kode tilsendt</button>
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="password-login">Kode fra e-post</label>
                <div class="input-group">
                    <input ng-model="toggles.code" class="form-control" id="username-login" type="number" placeholder="kode" maxlength="4">
                </div>
            </div>
        </form>

            <div class="form-group">
                <label for="password-login">Passord</label>
                <input ng-model="LoginPassword" class="form-control" id="password-login" type="password" placeholder="Passord">
            </div>
            <div class="alert alert-danger" role="alert" ng-if="loginError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                E-posten eller brukernavnet stemmer ikke. Vennligst prøv igjen eller tilbakestill passordet.
            </div>
            <div ng-if="statusMessage" class="alert alert-danger" role="alert">{{statusMessage}}</div>
            <div class="form-controls">
                <button type="submit" class="btn btn-primary btn-block btn-lg" disabled="!toggles.codeVerified && !toggles.emailVerified">Tilbakestill</button>
            </div>
        </form>
    </div>
</div>