<div class="fluid-container collection-container">
    <div class="fluid-container collection-edit">
        <div class="image-row">
            <div class="dropzone" file-dropzone="[image/jpeg]"
                          file="imageInfo.image" file-name="imageInfo.imageFileName" data-max-file-size="5" report="reportImage">
              <span>Dra inn bilde her. Anbefalt oppløsning 400x400.</span>
            </div>
            <div class="image-container" ng-style="{
            'background-image': 'url(' + imageInfo.image + ')'
            }">
                <span class="file-name">{{imageInfo.imageFileName}}</span>
            </div>
        </div>
    </div>
    <div class="fluid-container collection-header clearfix">
        <div class="collection-photo">
            
        </div>
        <div class="collection-background" ng-if="collection.collection.collectionImageId" ng-style="
            {'background-image': 'url(userImages/' + collection.collection.collectionImageId + '.jpg)'}"></div>
        <div class="collection-title">
            <p class="kicker">
                <span ng-if="collection.collection.type == 'collections'">Samling</span>
                <span ng-if="collection.collection.type == 'goals'">Samlemål</span>
                <span ng-if="collection.collection.type == 'sales'">Til salgs</span>
            </p>
            <h1>{{collection.collection.title}}</h1>
            <p class="description">{{collection.collection.description}}</p>
            <p class="byline">
                Opprettet av: <a ng-href="/#!/user/{{collection.user.slug}}">{{collection.user.nick}}</a>
                &bull; {{collection.games.length-1}} spill</p>

                

        </div>

    </div>
    <div class="filter-row">
            <form class="navbar-form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Filter" ng-model="toggles.filterPhrase">
                </div>
            </div>
            </form>
    </div>
    <div class="fluid-container">
        <table class="table game-list">
            <thead>
            	<tr>
                    <th class="game-list-controls"><span class="glyphicon glyphicon-asterisk"></span></th>
                    <th >#</th>
            		<th ng-repeat="setting in collection.settings" ng-click="sortBy(collection.games, setting.field)">
            			{{setting.name}}
                        <span class="glyphicon glyphicon-menu-down pull-right" ng-if="toggles.sortOrder == setting.field"></span>
                        <span class="glyphicon glyphicon-menu-up pull-right" ng-if="toggles.sortOrder == '-' + setting.field"></span>
            			<!--<p>{{setting.description}}</p>-->
            		</th>
            	</tr>
            </thead>
            <tbody>
            	<tr class="game-row" ng-repeat="game in collection.games | filter:filterPhrase as filterPhraseList" ng-class="{
                'toggled': toggles['editGames'].indexOf(game) > -1
            }">
                    <td ng-class="{
                            'inactive': game.inactive
                        }" class="game-list-controls">
                        <label class="game-toggle-label"  ng-if="!game.inactive">
                            <input type="checkbox" name="game-toggle" ng-click="toggleGameInEditList(game)">
                        </label>
                    </td>
                    <td ng-class="{
                            'inactive': game.inactive
                        }" class="context-menu-container"><span ng-if="!game.inactive">{{$index+1}}</span>
                    <button class="context-menu glyphicon glyphicon-menu-hamburger" ng-class="{
                        'selected': toggles['contextMenu'] == game._id
                    }" ng-click="toggleGameToggle(game._id, 'contextMenu')" ng-if="!game.inactive">
                    </button>
                    <ul class="context-menu-list" ng-show="toggles['contextMenu'] == game._id">
                        <li ng-click="removeGame(currentCollection, game)">
                            <span class="description"><span class="glyphicon glyphicon-remove"> </span> Slett rad</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-share-alt"></span> Flytt rad til annen liste</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-copy"></span> Kopier rad til annen liste</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-duplicate"></span> Dupliker rad i denne listen</span>
                        </li>
                    </ul>
                    </td>
            		<td ng-repeat="(settingKey, setting) in collection.settings" class="editable-col" contenteditable="true" ng-model="game[settingKey]" ng-keydown="gameKeyHandler($event, game, settingKey)" ng-change="updateGame(game, game[settingKey], settingKey)">
            		</td>
            	</tr>
            </tbody>
        </table>
    </div> 
</div>

<nav class="navbar navbar-default bottom-navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{toggles['editGames'].length}} rader valgt<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li ng-click="runBulk(currentCollection, 'deleteRows')">
                                <span class="glyphicon glyphicon-remove"></span>
                                Slett {{toggles['editGames'].length}} rader
                            </li>
                          </ul>
                    </li>
                </ul>
                <p class="navbar-text pull-right">{{countCollection(filterPhraseList)}} rader</p></li>
                
            </div>
        </nav>