<div class="user-bar">
    <div class="user-body container-fluid">
        <p class="collection-list-header">hovedmeny</p>
        <ul class="list-group collection-list">
        <li class="list-group-item">
            <a ng-href="/#!/">
                <span class="glyphicon glyphicon-home"></span>Forside
            </a>
        </li>
          <li class="list-group-item">
            <a ng-href="#!/user/{{user.slug}}">
                <span class="glyphicon glyphicon-user"></span>{{user.nick}}</li>
            <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
        </ul>
        <p class="collection-list-header">Din samling                 <button class="create-new-button" ng-click="addCollection('collections')">
                    <span class="glyphicon glyphicon-plus-sign"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>
                </button></p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['collections']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-floppy-disk"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Dine samlemål<button class="create-new-button" ng-click="addCollection('goals')">
                    <span class="glyphicon glyphicon-plus-sign"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>
                </button></p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['goals']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-heart"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Til salgs                 <button class="create-new-button" ng-click="addCollection('sales')">
                    <span class="glyphicon glyphicon-plus-sign"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>
                </button></p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['sales']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-usd"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
            <li class="list-group-item create-new">
            </li>
        </ul>
    </div>
</div>