<div class="user-bar">
    <div class="user-body container-fluid">
        <ul class="list-group collection-list">
          <li class="list-group-item"><span class="glyphicon glyphicon-home"></span> {{user.nick}}s samling</li>
        </ul>
        <p class="collection-list-header">Din samling</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['collections']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-floppy-disk"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Dine samlemål</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['goals']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-heart"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Til salgs</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collections['sales']" ng-class="{selected: list.selected}">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-usd"></span><span class="badge pull-right">{{countCollection(list.games)}}</span>{{list.title}}
                </a>
            </li>
        </ul>
    </div>
</div>