<div class="user-bar">
    <div class="user-header">
        <div class="collection-user-profile-cover" ng-style="
            {'background-image': 'url(userImages/' + user.profileImageUrl + '.jpg)'}">
        </div>
        <div class="collection-user-profile-avatar" ng-style="
            {'background-image': 'url(userImages/' + user.profileImageUrl + '.jpg)'}">
        </div>
    <div class="user-name">
        {{user.nick}}
    </div>
    </div>
    <div class="user-body container-fluid">
        <ul class="list-group collection-list">
          <li class="list-group-item"><span class="glyphicon glyphicon-home"></span> {{user.nick}}s samling</li>
        </ul>
        <p class="collection-list-header">Min samling</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collectionByTypes['collections']">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-floppy-disk"></span> {{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Mine samlemål</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collectionByTypes['goals']">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-hear"></span> {{list.title}}
                </a>
            </li>
        </ul>
        <p class="collection-list-header">Til salgs</p>
        <ul class="list-group collection-list">
            <li class="list-group-item" ng-repeat="list in collectionByTypes['sales']">
                <a ng-href="#!/user/{{user.slug}}/{{list._id}}">
                    <span class="glyphicon glyphicon-usd"></span> {{list.title}}
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="fluid-container collection-container">
    <div class="fluid-container collection-header">
        <div class="collection-background" ng-style="
            {'background-image': 'url(userImages/' + currentCollection.collectionImageId + '.jpg)'}"></div>
        <div class="collection-title">
            <h1 contenteditable ng-model="currentCollection.title" ng-if="currentCollection.userId == user._id"></h1>
            <span ng-if="currentCollection.userId == user._id" class="glyphicon glyphicon-pencil"></span>

            <h1 ng-if="currentCollection.userId != user._id">{{currentCollection.title}}</h1>

        </div>

    </div>
    <div class="fluid-container">
        <table class="table table-striped game-list">
            <thead>
            	<tr>
                    <th class="game-list-controls"><span class="glyphicon glyphicon-asterisk"></span></th>
                    <th >#</th>
            		<th ng-repeat="setting in settingFields[currentCollection.type]" ng-click="sortBy(setting.field)">
            			{{setting.name}}
                        <span class="glyphicon glyphicon-menu-down pull-right" ng-if="toggles.sortOrder == setting.field"></span>
                        <span class="glyphicon glyphicon-menu-up pull-right" ng-if="toggles.sortOrder == '-' + setting.field"></span>
            			<!--<p>{{setting.description}}</p>-->
            		</th>
            	</tr>
            </thead>
            <tbody>
            	<tr class="game-row" ng-repeat="game in games" ng-class="{
                'toggled': toggles['editGames'].indexOf(game) > -1
            }">
                    <td class="game-list-controls">
                        <label class="game-toggle-label">
                            <input type="checkbox" name="game-toggle" ng-click="toggleGameInEditList(game)">
                        </label>
                    </td>
                    <td class="context-menu-container">{{$index+1}} 
                    <button class="context-menu glyphicon glyphicon-menu-hamburger" ng-class="{
                        'selected': toggles['contextMenu'] == game._id
                    }" ng-click="toggleGameToggle(game._id, 'contextMenu')">
                    </button>
                    <ul class="context-menu-list" ng-show="toggles['contextMenu'] == game._id">
                        <li ng-click="removeGame(game)">
                            <span class="description"><span class="glyphicon glyphicon-remove"> </span> Slett rad</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-share-alt"></span> Flytt rad til annen liste</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-copy"></span> Kopier rad til annen liste</span>
                        </li>
                        <li>
                            <span class="description"><span class="glyphicon glyphicon-duplicate"></span> Dupliker rad i denne listen</span>
                        </li>
                    </ul>
                    </td>
            		<td ng-repeat="setting in settingFields[currentCollection.type]" class="editable-col" contenteditable ng-model="game[setting.field]" ng-keydown="gameKeyHandler($event, game, setting.field)" ng-change="updateGame(game, game[setting.field], setting.field)">
            		</td>
            	</tr>
            </tbody>
        </table>
    </div> 
</div>

<nav class="navbar navbar-default bottom-navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{toggles['editGames'].length}} rader valgt<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li ng-click="runBulk('deleteRows')">
                                <span class="glyphicon glyphicon-remove"></span>
                                Slett {{toggles['editGames'].length}} rader
                            </li>
                          </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Søkefilter..">
                </div>
                </form>
                <p class="navbar-text pull-right">Totalt {{games.length}} rader</p></li>
                
            </div>
        </nav>