extend default

block content
	h2.
		#{console.name}

	table
		each val, index in games
			tr
				td
					if val.url
						div.image-icon
							img(src="/images/" + val.url)
					else
						div.image-icon
							img(src="/images/no-image.jpg")
				td
					a(href="/#{console.slug}/#{val.slug}")
						= val.title