extend default

block content
	h2.
		#{console.name}

	table.collection-table
		tr
			th.
				screen-shot
			th.
				title
			th.
				utgivelselsår
			th.
				karakter
		each val, index in games
			tr
				td
					if val.url
						div.image-icon
							img(src="/images/" + val.url)
					else
						div.image-icon
							img(src="/images/no-image.jpg")
				td
					a(href="/games/#{console.slug}/#{val.slug}").
						= val.title
				td.
					test
				td.
					test