doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    
    <!--script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js')-->
    title World Wide Web
  body

    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span.sr-only.
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#").
            Brand
        .collapse.navbar-collapse#collapsed-navbar
          ul.nav.navbar-nav
            li
              a(href="#").
                Forside
            li.dropdown
              a(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle
                span.
                  Dropdown 
                span.caret
              ul.dropdown-menu
                each console in consoles
                  li
                    a(href="/games/#{console.slug}").
                      #{console.name}
          form.navbar-form.navbar-left(role="search")
            .form-group
              input(type="text", placeholder="Søk etter spill").form-control
            button(type="submit").btn.btn-default.
              Søk
          ul.nav.navbar-nav.navbar-right
            if !isAuthenticated
              button(type="button", data-toggle="modal", data-target=".modal-signup-login")#login-toggle.btn.btn-default.navbar-btn.
                  Logg inn / Bli medlem

                  
            else
              li
                p.navbar-text.
                  Logget inn som #{user.nick}


    include ./login-form.jade

    
    block content

    

    .footer
      p Copyright © SpillDB

    script(src='/javascript/tabSelector.js')
    script(src='/javascript/generalScripts.js')
      
