doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://code.jquery.com/jquery-2.2.3.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js')
    title World Wide Web
  body
    header.header
      ul.nav
        li: a(href='/') forside
        li
          span.
            konsoller
          ul.consoles
            each console in consoles
              li.
                #{console.name}

      ul.user-settings
        if !isAuthenticated
          li(id="login-toggle")
            span.
              Logg inn / Bli medlem
        else
          li.
            Logget inn som #{user.nick}  

    
    block content

    .footer
      p Copyright © SpillDB

    script(src='/javascript/tabSelector.js')
    script(src='/javascript/generalScripts.js')
    include ./login-form.jade  
