extend default

block content
    p.
        Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit
        consequuntur an, dicta tibique eu vis. Habeo impetus comprehensam te nam, in sit feugait
        principes. Cibo possit oblique qui cu, aperiri vivendum sed ne. Minim repudiare ne cum,
        ex graeco quodsi ius.

    p.hest.
        #{title}
        #{hest}
