#login-box.modal-box-wrapper(style="display: none;")  
  .modal-box-container
    .modal-box-header
      h1. 
      ul(data-tab-container="tab-form-container").tabs
        li(data-tab="tab-1").selected.
          Logg inn
        li(data-tab="tab-2").
          Bli medlem
            
    #tab-form-container
      #tab-1.form-tab.visible
        button.close-button
          span(class="oi" data-glyph="circle-x" title="circle-x" aria-hidden="true")

        form#login-form(action="/login", method="post")
            .form-row
              label.
                  E-postadresse
              input(type="text", name="username", placeholder="e-postadresse").full
            .form-row
              label.
                  Passord
              input(type="password", name="password", placeholder="passord").full
            
            .form-row
              button(type="submit").login.
                logg in

      #tab-2.form-tab
        button.close-button
          span(class="oi" data-glyph="circle-x" title="circle-x" aria-hidden="true")

        form#signup-form(action="/signup", method="post")
            .form-row
              label.
                  E-postadresse
              input#new-username(type="text", name="username", placeholder="e-postadresse").full
              p.message
              
            .form-row
              label.
                  Nick
              input#new-nick(type="text", name="nick", placeholder="Ditt kallenavn/nick").full
              p.message

            .form-row
              label.
                  Passord
              input#new-password(type="password", name="password", placeholder="passord").full
              p.message

            .form-row  
              label.
                Gjenta passord    
              input#new-password-repeat(type="password", name="password-repeat", placeholder="gjenta passord").full
              p.message

            .form-row
              button(type="submit", disabled="disabled").login.
                Bli medlem
