.modal.fade.modal-signup-login(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal", aria-label="close").close
          span(aria-hidden="true").
            &times;
        h4.modal-title#login-title.
          Logg inn  
      .modal-body
          form#login-form(action="/login", method="post")
              .form-group
                label(for="username").sr-only.
                  E-postadresse
                input(type="email", name="username", placeholder="e-postadresse")#username.form-control

              .form-group
                label(for="password").sr-only.
                  Passord
                input(type="password", name="password", placeholder="Passord")#password.form-control  
              
              button(type="submit").btn.btn-primary.btn-block.btn-lg.
                  logg in

                    

          
