form#signup-form(action="/signup", method="post")
              .form-row
                label.
                    E-postadresse
                input#new-username(type="text", name="username", placeholder="e-postadresse").full
                p.message
                
              .form-row
                label.
                    Nick
                input#new-nick(type="text", name="nick", placeholder="Ditt kallenavn/nick").full
                p.message

              .form-row
                label.
                    Passord
                input#new-password(type="password", name="password", placeholder="passord").full
                p.message

              .form-row  
                label.
                  Gjenta passord    
                input#new-password-repeat(type="password", name="password-repeat", placeholder="gjenta passord").full
                p.message

              .form-row
                button(type="submit", disabled="disabled").login.
                  Bli medlem