.gallery-desktop-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.image-gallery-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 4000;
  @include translateY(100px);
  @include transition(0.25s ease-in-out);
  &.active {
    display: block;
    @include translateY(0);
    .image-gallery-container {
      @include translateY(0px);
      opacity: 1;
      @include transition(0.25s ease-in-out);
    }
  }
  .image-gallery-cloak {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  .image-gallery-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include translateY(100px);
    opacity: 0;
    @include transition(0.25s ease-in-out);
    overflow: hidden;
    .image-gallery-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      border-bottom: 100px solid transparent;
      opacity: 0;

      @include transition(0.5s ease-in-out);

      &.current {
        opacity: 1;

      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .image-gallery-thumbnails {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    .image-gallery-thumbnail {
      width: 70px;
      height: 100px;
      padding: 20px 5px;
      overflow: hidden;
      display: inline-block;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      &.current {
        opacity: 1;
      }
      img {
        max-height: 100%;
      }
    }
  }
  .gallery-button {
    position: absolute;
    background: transparent;
    border: 0;
    right: 0;
    top: 50%;
    font-size: 40px;
    transform: translateY(-40px);
    outline: none;
    &:hover {
      color: white;
    }
    &.prev-button {
      left: 0;
      right: auto;
    }
    &.close-button {
      right: 0;
      top: 0;
      transform: translateY(0px);
    }
  }

}



.images-wrapper {
  margin-bottom: 20px;
  text-align: left;
  vertical-align: top;
  .image-wrapper {
    width: 25%;
    min-height: 75px;
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    position: relative;
    text-align: center;
    .image-container {
      border: 1px solid $blue;
      background-color: $darkDarkGrey;
      background-size: cover;
      background-position: top center;
      width: 100%;
      min-height: 84px;
      position: relative;
      img {
        width: 100%
      }
      p {
        font-size: 10px;
        text-transform: uppercase;
        color: $blue;
      }
    }
    .image-delete-button {
      border-radius: 10px;
      width: 28px;
      height: 28px;
      border: 1px solid $blue;
      color: white;
      background-color: $darkDarkGrey;
      position: absolute;
      right: -10px;
      top: -10px;
      outline: none;
    }

    .upload-photo-button {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      background-color: transparent;
      color: white;
      border: 0;
      font-size: 20px;
      padding: 12px;
      outline: none;
      &:before {
        content: "\e046";
      }
    }
  }
}

.image-row {
  * {
    vertical-align: top;
  }
  .image-container {
    display: inline-block;
    width: 20%;
    height: 172px;
    background-size: cover;
    position: relative;

    &.profile-image {
      width: 210px;
      height: 210px;
    }
  }
}