.auth {
  text-align: right;
  padding-right: 15px;
  @media #{$phone} {
    padding-right: 0;
  }
  .login-buttons-container {
    @media #{$phone} {
      padding-right: 0;
      padding: 6px 6px;
      .btn.login,
      .btn.signup {
        padding: 8px 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 37px;
      }
    }
  }
  .profile-info {
    @media #{$phone} {
      .navbar-text {
        display: none;
      }
    }
  }
  .profile-image {
    background-size: cover;
    background-image: url("userImages/57da923427b493018b00a314.jpg");
    padding: 17px 17px 16px 16px;
    background-color: $textDarkGrey;
    /* width: 20px; */
    /* height: 20px; */
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    /* border: 1px solid white; */
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    float: right;
    .login-buttons-container {
      @media #{$phone} {
        display: flex;
      }
    }
  }
  .btn {
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    padding: 8px 20px;
    outline: none;
    @include transition(0.5s);
    &.signup {
      background-color: $blue;
      border: 0;
    }
    &.login {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:hover {

    }
    &.logout {
      border-radius: 50%;
      padding: 4px 6px;
    }
  }
}



.user-bar {
  position: relative;
  float: left;
  @media #{$phone} {
    float: none;
    width: 150px;
  }
  &.expanded {
    ul {
      height: auto;
      li {
        &.current-collection {
          &:after {
            @include transform(rotate(-180deg) translateY(2px));
            @include transition(0.1s);
          }
        }
      }
    }
  }
  ul {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 200px;
    height: 50px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;

    @media #{$phone} {
      width: 150px;
      min-width: 150px;
    }

    @include transition(0.1s);
    li {
      display: block;
      width: 100%;
      font-size: 14px;
      @media #{$phone} {
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.current-collection {
        padding: 15px;
        cursor:pointer;
        background-color: $darkGrey;
        border-right: 1px solid $darkDarkGrey;
        position: relative;
        @media #{$phone} {
          padding: 16px 20px 17px 15px;
        }
        &:hover {
          background-color: $darkDarkGrey;
          color: white;
        }
        &:after {
          top: 50%;
          right: 10px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(52, 152, 219, 0);
          border-top-color: #3498DB;
          border-width: 4px;
          margin-left: -8px;
          margin-top: -2px;
          @include transform(rotate(0deg));
          @include transition(0.25s);
        }
      }
      a {
        padding: 15px 15px 15px 28px;
        display: block;


        background-color: $darkGrey;
        @media #{$phone} {
          font-size: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 15px 15px 15px 15px;
        }
        &:hover {
          background-color: $darkDarkGrey;
          color: white;
        }
      }

    }

  }
}

.auth-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/static/images/zelda-collection-background.jpg);
  background-size: cover;
  opacity: 0.2;
  @media #{$phone} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: none;
    opacity: 1;

  }
}