.bottom-navbar {
  padding: 0;
  background-color: #f9f9f9;
  background-color: $lightGrey;
  border: 0;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, .15);
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  min-height: 40px;
  select {
    color: $darkDarkGrey;

  }
  p.navbar-text.navbar-default {
    color: white;
  }
  .container-fluid {
    padding: 0;
    .btn {
      padding: 4px 11px;
      font-size: 10px;
      border-radius: 4px;
      margin-left: 10px;
    }
  }

  .navbar-form {
    padding: 3px 10px;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, .15);
  }


  .dropdown-toggle {
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    padding: 0;
    border-radius: 0;
    li {
      padding: 10px;
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}