/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";


$textDarkGrey: #a0a0a0;
$textLight: white;
$darkGrey: #282828;
$darkDarkGrey: #181818;
$textLightGrey: #fcfcfc;
$textBlue: #66d1f2;
$blue: #3498DB;
$darkBlue: #2980B9;

$phone: "only screen and (max-width : 800px)";
$desktop: "only screen and (min-width : 800px)";

html,
body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

}


body {
  background-color: #E0E1E5;
  background-color: #181818;
  color: $textDarkGrey;
  font-size: 12px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #23323b;
  background-color: #282828;
  margin-bottom: 0;
}

a {
  color: $textLightGrey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  //border-radius: 0;
}
.form-control {
  //border-radius: 0;
}


.close.inverse {
  color: #fff;
  opacity: 1;
}

.dropdown-menu {
  min-width: 200%;
  li {
    cursor: pointer;
  }
  li:nth-child(odd) {
    background-color: #eaeaea;
  }
  li:hover {
    background-color: #337ab7;
    color: white;
  }
}

.login-container {
  position: absolute;
  right: 0;
  width: 320px;
  background-color: #101010;
  padding: 20px;
  top: 50px;
  display: none;
  &.visible {
    display: block;
  }
}

.dialog-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  &.login-wrapper {
    display: block;
    text-align: right;

    .dialog-container {
      display: inline-block;
      margin-top: 50px;
      border-radius: 0;
      max-width: 320px;
    }
  }
  .dialog-container {
    @include border-radius(6px);
  }
  .cloak {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 50px solid transparent;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
  }
  label {
    color: #798790;
  }
  .game-title {
    color: white;
  }
  .form-group {
    color: #798790;
  }
  .dialog-tabs {
    display: flex;
    li {
      display: block;
      background-color: #435359;
      color: #798790;
      width: 100%;
      &.active {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
      }
    }

    margin-bottom: 0;
    width: 100%;
    padding: 0;
  }
  .input-group {
    width: 100%;
    span {
      color: #798790;
    }
  }
  .form-control {
    border: 1px solid #798790;
    color: #798790;
    background-color: transparent;
  }
  .form-control-feedback {

    &.glyphicon-remove {
      color: red;
    }
    &.glyphicon-ok {
      color: green;
    }
  }
  .dialog-container {
    max-width: 100%;
    width: 600px;
    position: relative;
    background-color: #23323b;
    padding: 20px;
  }
  .btn {
    text-transform: uppercase;
  }
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px 29px 20px 29px;
  border-radius: 50%;
  background-color: #2b7ec6;
  color: white;
  border: 0;
  font-size: 28px;
  @include transition(0.5s);
  outline: none;
  &:hover {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.6);
  }
  &:active {
    background-color: darken(#2b7ec6, 20%);
  }
}

.game-list.table {
  //box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  margin-bottom: 0;
  font-size: 11px;
  &.editable {
    td,th {
      border-right: 1px solid #282828;
    }
    td {
      &.selected {
        &:before {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 2px solid #376cb3;
          content: "";
          pointer-events: none;
        }
      }
    }
    td:nth-child(1n+3) {
      &:hover {
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 2px solid rgba(#376cb3, 0.5);
          content: "";
          pointer-events: none;
        }
      }
    }
    .game-toggle {
      display: table-cell

    }
  }
  .game-toggle {
    display: none;
    text-align: center;
  }
  tr {
    background-color: transparent;
    &.game-row {
      &.toggled {
        background-color: transparent;
      }
      &.selected {
        background-color: rgba($blue,0.1);
      }
    }
    &:hover {
      background-color: rgba(#282828, 0.5);
    }
    td,th {

      border-bottom: 1px solid #282828;

      &.editable-col {
        padding: 6px;
        outline: none;
        cursor: pointer;
      }
    }
    .context-menu-container {
      font-weight: bold;
      padding: 4px;
    }

    td {
      padding: 0;
      color: #fcfcfc;
      position: relative;
      height: 26px;

      @media #{$phone} {
        &:nth-child(1n+4) {
          display: none;
        }
      }

      &.inactive {
      }


      &.game-list-controls {
        padding: 0;
        .game-toggle-label {
          width: 100%;
          padding: 4px 0;
          margin: 0;
          text-align: center;
          input {
            margin: 0;
          }
        }
        .glyphicon {
          cursor: pointer;
          &:hover {
            color: $blue;
            .description {
              display: inline-block;
            }
          }

        }
      }
    }
    th {
      border-bottom: 1px solid #282828;
      border-right: 0;
      cursor:pointer;
      height: 26px;
      &:nth-child(even),
      &:nth-child(odd) {
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        color: #a0a0a0;
        &.game-toggle {
          text-align: center;
        }
        &:hover {
          color: #fcfcfc;
        }
      }
      @media #{$phone} {
        &:nth-child(1n+4) {
          display: none;
        }
      }
      &.game-list-controls {
        @include background-image(linear-gradient($blue, #376cb3));
        color: white;
        border-top: 0;
      }
    }

    td:last-child,
    th:last-child {
      border-right: 0;
    }
  }


}

.navbar-static-top {
  z-index: 100;
}

.context-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: 0;
  outline: none;
  color: #376cb3;
  background-color: transparent;
  &.selected {
    background-color: #376cb3;
    color: white;
  }
}

.context-menu-list {
  position: absolute;
  left: 0px;
  bottom: 15px;
  padding: 0;
  min-width: 200px;
  text-align: left;
  letter-spacing: 0px;
  display: block;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  z-index: 10;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  li {
    display: block;
    padding: 4px;
    font-weight: normal;
    border-bottom: 1px solid black;
    font-weight: normal;
    cursor: pointer;
    background-color: #376cb3;
    &:hover {
      background-color: lighten(#376cb3, 5%);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.filter-row {
  border-top: 1px solid $darkGrey;
  position: relative;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  .form-control:focus {
    color: $textLightGrey;
    box-shadow: none;
  }
  .input-group-addon {
    background-color: transparent;
    border: 0;
    padding: 0 14px 0 0;
  }
  padding: 0;
  .form-group {
    padding: 14px 14px;
    position: relative;
    @media #{$phone} {
      padding: 6px 6px;
    }

  }
  form {
    padding: 0;
    margin: 0;
    input {
      background-color: transparent;
      color: $textDarkGrey;
      border: 0;
      outline: none;
      padding: 0;
      box-shadow: 0;
      display: block;
    }
  }
}


.collection-header {
  margin: -14px -14px 14px -14px;
  position: relative;
  overflow: hidden;
  padding: 14px;
  display: flex;
  @media #{$phone} {
    display: block;
    text-align: center;
  }

  .control-buttons {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .collection-photo-cloak {
    position: absolute;
    width: 150%;
    height: 150%;
    background-color: black;
    filter: blur(40px);
    left: -25%;
    top: -25%;
    opacity: 0.2;
  }
  .collection-photo,
  .profile-photo {
    background-color: $darkGrey;
    background-image: url(../images/default-collection.jpg);
    background-size: cover;
    position: relative;
    width: 210px;
    height: 210px;
    display: block;
    margin-right: 14px;
    @media #{$phone} {
      display: inline-block;
      margin-right: 0;
    }
  }

  .profile-photo {
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }

  .collection-information {

  }

  .collection-title {
    position: relative;
    color: white;
    outline: none;
    .kicker {
      text-transform: uppercase;
      margin-bottom: 0;
      color: $textDarkGrey;
    }
    .byline {
      color: $textDarkGrey;
      font-size: 14px;
    }
    .description {
      font-size: 14px;
      color: $textDarkGrey;
    }
    h1 {
      display: inline-block;
      outline: none;
      margin: 0;
      padding: 14px 0 14px;
      font-size: 38px;
      @include text-shadow(0 0 10px rgba(0,0,0,0.8));
      @media #{$phone} {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .glyphicon {
      position: absolute;
      top: 4px;
      margin-left: -5px;
      font-size: 15px;
    }
  }
  .collection-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.visible {
  .collection-container {
    @media #{$desktop} {
      border-left: 200px solid transparent;
    }
  }
  .user-bar {
    @include translateX(-200px);

    @media #{$desktop} {
      @include translateX(0px);
      overflow: auto;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  background:white;
  background:linear-gradient(0deg,$darkDarkGrey,darken($darkDarkGrey, 10%));
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:linear-gradient(0deg,$blue,lighten($blue, 10%),$blue);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.collection-container {
  border-left: 0 solid transparent;
  border-top: 50px solid transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  padding: 14px;
  padding-bottom: 80px;
}

.btn {
  border-radius: 20px;
}

.auth {
  padding-right: 15px;
  text-align: right;
  @media #{$phone} {
    padding-right: 0;
  }
  .login-buttons-container {
    @media #{$phone} {
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      .btn.login,
      .btn.signup {
        padding: 8px 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 37px;
      }
    }
  }
  .profile-image {
    background-size: cover;
    background-image: url("userImages/57da923427b493018b00a314.jpg");
    padding: 17px 17px 16px 16px;
    background-color: $textDarkGrey;
    /* width: 20px; */
    /* height: 20px; */
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    /* border: 1px solid white; */
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    float: right;
    .login-buttons-container {
      @media #{$phone} {
        display: flex;
      }
    }
  }
  .btn {
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 20px;
    padding: 8px 20px;
    outline: none;
    @include transition(0.5s);
    &.signup {
      background-color: lighten(#1ba4d8, 10%);
      border: 2px solid lighten(#1ba4d8, 10%);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px
    }
    &.login {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:hover {
      border: 2px solid white;
      background: transparent;
    }
    &.logout {
      border-radius: 50%;
      padding: 4px 6px;
    }
  }
}



.user-bar {
  position: fixed;
  border-top: 50px solid transparent;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f9f9f9;
  background-color: #282828;
  @include translateX(-200px);
  @media #{$phone} {
    @include translateX(0);
    &.mobile-hidden {
      @include translateX(-200px);
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, .15);

  }
  .user-header {
    width: 100%;
    position: relative;
    height: 174px;
    background-color: black;
    overflow: hidden;
    .collection-user-profile-cover {
      position: absolute;
      width: 150%;
      height: 150%;
      left: -25%;
      top: -25%;
      @include filter(blur(10px));
      background-image: cover;
      opacity: 0.6;
    }
    .collection-user-profile-avatar {
      @include border-radius(50%);
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 20px;
      background-size: cover;
    }
    .user-name {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 17px 8px 8px 8px;
      text-align: center;
      color: #d2d3d4;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      font-weight: bold;
      @include text-shadow(0 0 10px rgba(0,0,0,0.8));

      @include background-image(linear-gradient(transparent, rgba(0,0,0,0.8)));
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        @include background-image(linear-gradient(left, #376cb3, $blue, #376cb3));
      }
    }
  }
}


#spilldb-logo {
  margin-left: 0;
}

.navbar-brand {
  @include background-image(linear-gradient($blue, #376cb3));

  .spilldb-logo {
    position: relative;
    width: 90px;
    height: 24px;
    background-image: url("../images/samledb-hvit.svg");
    background-size: 100% auto;
  }
}

.bottom-navbar {
  padding: 0;
  background-color: #f9f9f9;
  background-color: #282828;
  border: 0;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, .15);
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  border-left: 200px solid transparent;
  min-height: 40px;
  .container-fluid {
    padding: 0;
    .btn {
      padding: 4px 11px;
      font-size: 10px;
      border-radius: 8px;
      margin-left: 10px;
    }
  }

  .navbar-form {
    padding: 3px 10px;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, .15);
  }


  .dropdown-toggle {
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    padding: 0;
    border-radius: 0;
    li {
      padding: 10px;
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}

.collection-list-header {
  margin-top: 10px;
  color: $textDarkGrey;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

.create-new-button {
  background-color: transparent;
  border: 1px solid $textDarkGrey;
  padding: 6px 6px 3px 6px;
  border-radius: 50%;
  float: right;
  margin-top: -5px;
  outline: none;
  @include transition(0.25s);
  .glyphicon {
    top: 0;
  }
  &:hover {
    border: 1px solid $blue;
    background-color: $blue;
    color: white
  }
}

.collection-list {

  border-radius: 0;
  .list-group-item {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;

    color: $textDarkGrey;
    font-size: 14px;

    border: 0;
    padding: 0;
    cursor: pointer;
    @include transition(0.25s ease-in-out);
    background-color: transparent;
    a {
      display: block;
      padding: 8px 4px 8px 15px;
      padding-left: 30px;
      color: $textDarkGrey;
      letter-spacing: 0.2px;
      text-decoration: none;
      white-space: nowrap;
      font-size: 12px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      &:hover {
        color: $textLightGrey;
        text-decoration: none;

      }
    }
    &:hover {
      background-color: darken($darkGrey, 10%);
    }
    &.selected {
      background-color: $darkDarkGrey;
      @include box-shadow(0 0 0 black inset);
      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        left: 0;
        background-color: $blue;
        top: 0;
      }
      a {
        text-decoration: none;
      }
    }
    .glyphicon {
      padding-right: 8px;
    }
  }
}

.main-menu {
  li {
    border-right: 1px solid rgba(255, 255, 255, .15);
    cursor: pointer;
    text-transform: uppercase;
    a {
      cursor: pointer;
    }
    &:hover {
      background-color: darken(#23323b, 10%);
    }
  }
}



.signup-form {
  position: relative;
  max-width: 400px;
  padding: 60px 48px;
  background-color: white;
  margin: 50px auto 0 auto;
  color: darken($textDarkGrey, 40%);
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.btn {
  font-size: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 20px;
}


.image-row {
  * {
    vertical-align: top;
  }
  .dropzone {
    display: inline-block;
    width: 20%;
    height: 172px;
    text-align: center;
    padding: 20px;
    font-family: Arial;
    &.profile-image {
      width: 210px;
      height: 210px;
    }
  }
  .image-container {
    display: inline-block;
    width: 20%;
    height: 172px;
    background-size: cover;
    &.profile-image {
      width: 210px;
      height: 210px;
    }
  }
}


.collection-edit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px;
  width: 100%;

  background-color: $textDarkGrey;
  @include box-shadow(2px 2px 4px rgba(0,0,0,0.4));
  @include translateY(-100%);
  z-index: 10000;
  @include transition(0.25s ease-in-out);
  &.visible {
    @include translateX(0%);
  }

  label {
    color: darken($textDarkGrey, 40%);
  }
  form {
    margin-top: 14px;
  }

}

.dropzone {
  position: relative;
  border: 0;
  padding: 30px;
  &:after {
    content: "";
    position: absolute;
    border: 2px dashed darken($textDarkGrey, 40%);
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }
  span {
    color: darken($textDarkGrey, 40%);
  }
}




.edit-button {
  position: relative;
  z-index: 10;
}

.game-list.table tr td[contenteditable="true"]:active,
.game-list.table tr td[contenteditable="true"]:focus{
  outline:none;
  color: $textBlue;
}

.btn {
  outline: none;
}

.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}


.user-tab {
  display: none;
  margin-top: 14px*2;
  &.selected {
    display: block;
  }
}

.user-menu {
  border-bottom: 1px solid $darkGrey;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    position: relative;
    color: $textDarkGrey;

    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 11px;
    @include transition(0.25s);
    cursor: pointer;
    a {
      padding: 10px 14px;
      display: block;
    }
    &:after {
      content :"";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      background-color: transparent;
      left: 0;
      @include transition(0.25s);
    }
    &.selected {
      color: $textLightGrey;
      &:after {
        background-color: $textBlue;
        @include transition(0.25s);
      }

    }
    &:hover {
      color: $textLightGrey;
    }
  }
}


.auth-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/static/images/zelda-collection-background.jpg);
  background-size: cover;
  opacity: 0.2;
}

.hamburger {
  float: left;
  position: relative;
  width: 40px;
  height: 50px;
  background-color: $darkDarkGrey;
  border: 0;
  outline: none;
  &.mobile-hidden {
    display: none;
  }
  &:hover {
    .line-1,
    .line-2,
    .line-3 {
      background-color: rgba(white, 0.5);
    }
  }
  .line-1,
  .line-2,
  .line-3 {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -1px;
    height: 2px;
    background-color: $blue;
    width: 24px;
    @include transition(0.2s ease-in-out);
  }

  .line-2 {
    @include translateY(-6px);
  }
  .line-3 {
    @include translateY(6px);
  }

  &.user-list-hamburger {

  }
  &.selected {

    background-color: transparent;
    @media #{$phone} {
      background-color: $darkDarkGrey;
    }

    .line-1,
    .line-2,
    .line-3 {
      @include transition(0.2s ease-in-out);
      width: 16px;
      left: 12px;
      color: $blue;
    }
    .line-1 {
      opacity: 0;
    }
    .line-2 {
      @include transform(rotate(45deg))
    }
    .line-3 {
      @include transform(rotate(-45deg))
    }
  }

  @media #{$phone} {
    background-color: transparent;
    .line-1 {
      opacity: 0;
    }
    .line-2 {
      @include transform(rotate(45deg))
    }
    .line-3 {
      @include transform(rotate(-45deg))
    }
    &.selected {
      .line-1,
      .line-2,
      .line-3 {
        @include transition(0.2s ease-in-out);
        position: absolute;
        top: 50%;
        left: 8px;
        margin-top: -1px;
        height: 2px;
        background-color: $blue;
        width: 24px;
      }
      .line-1 {
        opacity: 1;
      }
      .line-2 {
        @include translateY(-6px);
      }
      .line-3 {
        @include translateY(6px);
      }
    }
  }
  &.mobile-toggle {
    background-color: $darkDarkGrey;
    .line-1 {
      opacity: 1;
    }
    .line-2 {
      @include transform(translateY(-6px) rotate(0deg));
    }
    .line-3 {
      @include transform(translateY(6px) rotate(0deg));
    }
  }
}

.navbar-text {
  @media #{$phone} {
    margin-right: 10px;
    display: inline-block;
    span {
      display: none;
    }
  }
}

.slider-container {
  display: flex;
  align-items: center;
  .slider-label {
    margin-right: 10px;
  }
  .slider {
    background-color: white;
    border-radius: 28px;
    padding: 0px;
    border: 1px solid grey;
    width: 64px;
    height: 39px;
    margin: 0;
    @include transition(0.25s ease-in-out);
    cursor: pointer;
    &.slider-on {
      background-color: $blue;
      border: 1px solid $blue;

      .slider-dot {
        margin-left: 27px;
      }
    }
    .slider-dot {
      padding: 17px;
      border-radius: 50%;
      background-color: white;
      transform: translateY(2px);
      display: inline-block;
      @include transition(0.25s ease-in-out);
      @include box-shadow(1px 1px 10px rgba(0,0,0,0.4));
    }
  }
}

.navbar-form {
  border-top: 0;
  border-bottom: 0;
  @include box-shadow(0 0 0 0 rgba(0,0,0,0));
}

.navbar-samledb {
  @media #{$phone} {
    display: flex;
    justify-content: space-between;
  }
}