/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";


body {
  background-color: #E0E1E5;
  color: #9ba3af;
  font-size: 12px;
  padding-bottom: 100px;
}

.navbar {
	background-color: #23323b;
  margin-bottom: 0;
}

.btn {
	//border-radius: 0;
}
.form-control {
	//border-radius: 0;
}


.close.inverse {
    color: #fff; 
    opacity: 1;
}

.dropdown-menu {
  min-width: 400%;
  li {
    cursor: pointer;
  }
  li:nth-child(odd) {
    background-color: #eaeaea;
  }
  li:hover {
   background-color: #337ab7; 
   color: white;
  }
}

.dialog-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
  z-index: 10000;
	align-items: center;
	justify-content: center;
  .dialog-container {
    @include border-radius(6px);
  }
  	.cloak {
  		position: absolute;
  		left: 0;
  		top: 0;
  		width: 100%;
  		height: 100%;
  		background-color: rgba(0,0,0,0.5);
  	}
  	label {
  		color: #798790;
  	}
    .game-title {
      color: white; 
    }
    .form-group {
      color: #798790;
    }
  	.dialog-tabs {
  		display: flex;
  		li {
  			display: block;
  			background-color: #435359;
  			color: #798790;
  			width: 100%;
  			&.active {
  				background-color: #337ab7;
				border-color: #2e6da4;
				color: #fff;
  			}
  		}
  		margin-bottom: 20px;
  		width: 100%;
  		padding: 0;
  	}
    .input-group {
      width: 100%;
      span {
        color: #798790;
      }
    }
  	.form-control {
  		border: 1px solid #798790;
  		color: #798790;
  		background-color: transparent;
  	}
    .form-control-feedback {
      
      &.glyphicon-remove {
        color: red;  
      }
      &.glyphicon-ok {
        color: green;
      }
    }
  	.dialog-container {
  		max-width: 100%;
  		width: 600px;
  		position: relative;
  		background-color: #23323b;
  		padding: 20px;
  	}
  	.btn {
  		text-transform: uppercase;
  	}
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 16px 29px 20px 29px;
    border-radius: 50%;
    background-color: #2b7ec6;
    color: white;
    border: 0;
    font-size: 28px;
    @include transition(0.5s);
    outline: none;
    &:hover {
      box-shadow: 2px 2px 12px rgba(0,0,0,0.6);
    }
    &:active {
      background-color: darken(#2b7ec6, 20%);  
    }
}

.game-list.table {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  padding-bottom: 100px;
  tr {
    &.game-row {
      &.toggled {
        background-color: #c7d1df;
      }
    }
    background-color: white;
    &:hover {
      background-color: #c7d1df;
    }
    td,th {
      border-right: 1px solid #c8c8c8;
      border-bottom: 1px solid #c8c8c8;

      &.editable-col {
        padding: 4px;
        outline: none;
        cursor: pointer;
      }
    }
    td:nth-child(2) {
      
    }
    .context-menu-container {
      font-weight: bold;
      padding: 4px;
      padding-left: 30px;
    }
    td:nth-child(1n+3) {
      &:hover {
        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 2px solid #376cb3;
          content: "";
          pointer-events: none;
        }
      }
    }
    td {
      padding: 0;
      color: #646464;
      position: relative;
      



      &.game-list-controls {
        padding: 0;
        .game-toggle-label {
          width: 100%;
          padding: 4px 0;
          margin: 0;
          text-align: center;
          input {
            margin: 0;
          }
        }
        .glyphicon {
          cursor: pointer;
          &:hover {
            color: #467cc6;
            .description {
              display: inline-block;
            }
          }

        }
      }
    }
    th {
      border-bottom: 1px solid #697599;
      cursor:pointer;
      &:nth-child(even),
      &:nth-child(odd) {
        @include background-image(linear-gradient(#f4f6ff, #eeeff9));
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        color: #32445c;
      }
      &.game-list-controls {
        @include background-image(linear-gradient(#467cc6, #376cb3));
        color: white;
        border-top: 0;
      }
    }

    td:last-child,
    th:last-child {
      border-right: 0;
    } 
  }
  
    
}

.context-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: 0;
  outline: none;
  color: #376cb3;
  background-color: transparent;
  &.selected {
    background-color: #376cb3;
    color: white;
  }
}

  .context-menu-list {
    position: absolute;
    left: 24px;
    top: 0;
    padding: 0;
    
    min-width: 200px;
    text-align: left;
    letter-spacing: 0px;
    display: block;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    z-index: 10;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    li {
      display: block;
      padding: 4px;
      font-weight: normal;
      border-bottom: 1px solid white;
      font-weight: normal;
      cursor: pointer;
      background-color: #376cb3;
      &:hover {
        background-color: lighten(#376cb3, 5%);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .collection-header {
    padding: 40px;
    position: relative;
    height: 140px;
    .collection-title {
      position: relative;
      color: white;
      outline: none;
      
      h1 {
        display: inline-block;
        outline: none;
        margin: 0;
        padding: 10px;
        @include text-shadow(0 0 10px rgba(0,0,0,0.8));
      }
      .glyphicon {
        position: absolute;
        top: 4px;
        margin-left: -5px;
        font-size: 15px;
      }
    }
    .collection-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }


.collection-container {
  border-right: 250px solid transparent;
  border-top: 50px solid transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.btn {
  border-radius: 20px;
}

.auth {
  margin-right: -15px;
  padding-right: 15px;
  text-align: right;
  .profile-image {
    background-size: cover;
    background-image: url("userImages/57da923427b493018b00a314.jpg");
    padding: 17px 17px 16px 16px;
    /* width: 20px; */
    /* height: 20px; */
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    /* border: 1px solid white; */
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
    float: right;
  }
  .btn {
    
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    border-radius: 10px;
    padding: 4px 7px;
    background-color: #467cc6;
    border: 2px solid transparent;
    @include transition(0.5s);
    &:hover {
      border: 2px solid white;
      background: transparent;
    }
    &.logout {
      border-radius: 50%;
    }
  }
}

.user-bar {
  position: fixed;
  border-top: 50px solid transparent;
  height: 100%;
  width: 250px;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #d1d1d1;
  .user-header {
    width: 100%;
    position: relative;
    height: 174px;
    background-color: black;
    overflow: hidden;
    .collection-user-profile-cover {
      position: absolute;
      width: 150%;
      height: 150%;
      left: -25%;
      top: -25%;
      @include filter(blur(10px));
      background-image: cover;
      opacity: 0.6;
    }
    .collection-user-profile-avatar {
      @include border-radius(50%);
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 20px;
      background-size: cover;
    }
    .user-name {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 17px 8px 8px 8px;
      text-align: center;
      color: #d2d3d4;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      font-weight: bold;
      @include text-shadow(0 0 10px rgba(0,0,0,0.8));

      @include background-image(linear-gradient(transparent, rgba(0,0,0,0.8)));
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        @include background-image(linear-gradient(left, #376cb3, #467cc6, #376cb3));
      }
    }
  }
}

